
@media screen and (max-width: 860px) {
	#tabs a {
		width: 40%;
		margin: 5px 0;;
		display: inline-block;
		border-radius: 5px;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
		text-align: center;
	}
	#tabs a.current {
		border: 3px solid #ffd90b;
		background: #ffd90b;
		color: #fff;
	}
	.tabs_content {
		height: 430px;
	}
	.map .block {
		margin-right: 2%;
	}
	.map .block:last-child {
		margin-right: 0;
	}
	.cards .block img, .cards .use-own img, .stickers .block img, .stickers .use-own img {
		width: 95%;
	}
}
@media screen and (max-width: 568px) {
	body {
		min-width: 320px;
	}
	header section#top #intro-wrap, header section#bottom, section#promo {display: none;}
	header section#top {overflow: hidden;}
	.cards .block, .cards .use-own, .stickers .block, .stickers .use-own {
		width: 50%;
	}
	.cards .block img, .cards .use-own img, .stickers .block img, .stickers .use-own img {
		width: 95%;
	}
	.content {
		padding: 0 0px;
	}
	.stickers .use-own .use-own-form, .cards .use-own .use-own-form {
		width: 180%;
	}
	.main, footer, ul.tabs, header {
		padding-left: 10px;
		padding-right: 10px;
	}
	footer ul.menu {
		display: block;
		width: 100%;
	}
		footer ul.menu li div {
			background: #32bdf0;
			text-align: left;
			border-radius: 5px;
			-moz-border-radius: 5px;
			-webkit-border-radius: 5px;
			padding: 7px 20px;
			margin: 5px 0;
		}
		footer ul.menu li.sep {
			display: none;
		}
		footer ul.menu li a {
			color: #fff;
			text-decoration: none;
			font: 400 17px 'Calibri-Bold', Arial, sans-serif;
		}
		footer ul.menu li ul li {
			list-style-type: none;
			padding: 5px 10px;
		}
		footer ul.menu li ul li a {
			color: #1c5063;
		}
	header section#top #cart {
		width: 160px;
		margin-bottom: 10px;
	}
	header section#top #cart {
		margin-left: 0;
	}
	header section#top .mob-enter {
		text-align: center;
		clear: both;
		margin: 10px 0;
	}
	header section#top .mob-enter div {
		border: 3px solid #dde8fe;
		border-radius: 5px;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
		text-align: center;
		display: inline-block;
		width: 47%;
		padding: 7px 0;
	}
	header section#top .mob-enter div a {
		font: 400 17px 'Calibri-Bold', Arial, sans-serif;
		text-decoration: none;
	}
	#cart .cart-text {
		width: 110px;
	}
	.cart-text span {
		font-size: 15px;
	}
	.cart-text span.cart-total{
		position: relative;
		top: -8px;
	}
	.cart-text .cart-link {
		position: relative;
		top: -17px;
	}
	ul.tabs li.passive {
		padding: 5px 10px;
		margin-top: 5px;
		border-radius: 5px 5px 0 0;
		-moz-border-radius: 5px 5px 0 0;
		-webkit-border-radius: 5px 5px 0 0;
	}
	ul.tabs li {
		padding: 5px 10px 5px 10px;
	}
	ul.tabs {
		top: 0px;
		overflow: hidden;
	}
	ul.tabs li.passive-sep, ul.tabs li.passive-to-active-sep, ul.tabs li.active-to-passive-sep {
		display: none;
	}
	ul.tabs li.active {
		border-right: 3px solid #32bef0;
		padding-left: 20px;
		padding-top:5px;
		padding-bottom: 5px;
	}
	ul.tabs li.passive {
		border-right: 3px solid #dde8fe;
	}
	header section#top {
		padding: 10px 0;
	}
	header section#top #logo {
		width: 45%;
		margin-bottom: 10px;
	}
	header {
		margin: 0 auto 0px auto;
	}
	.map, .payment {
		display: none;
	}
	.categories .category-select {
		display: block;
	}
	.categories .category-select select {
		width: 100%;
		background-position: right;
	}
	.categories .simple-link {
		display: none;
	}
	.steps .line {
		top: 35px;
	}
	.steps .step.current div {
		height: 50px;
		width: 50px;
		top: -7px
	}
	.steps .step.current span {
		font-size: 15px;
		display: block;
	}
	.steps .step div {
		width: 30px;
		height: 30px;
	}
	.steps .step div span {
		font-size: 20px;
		top: 5px;
		display: block;
	}
	.steps .step.current div span {
		font-size: 30px;
		top: 10px;
		display: block;
	}
	.steps .step span {
		font-size: 15px;
		display: none;
	}
	.steps {
		padding: 0 0px;
	}
	.main {
		padding: 20px 10px;
	}
	.step-buttons .back {
		padding-left: 20px;
	}
	.step-buttons .button {
		margin-right: 0;
	}
	.step-buttons .forward {
		padding-left: 30px;	
	}
	.step-buttons .totalsum {
		margin-top: 20px;
		margin-right: 0;
	}
	.order-form {
		width: 100%;
		float: none;
		margin-top: 20px;
	}
	.order-preview {
		width: 100%;
		float: none;
		margin-left: 0;
		margin-top: 30px;
	}
	form input[type="text"], form input[type="tel"], form input[type="email"], form input[type="adress"], form input[type="login"], form input[type="password"], form textarea {
		width: 90%;
		min-width: 90%;
	}
	#tabs a {
		padding: 10px 13px;
		width: 38.7%;
	}
	aside#order {
		width: 99%;
		float: none;
	}
	.tabs_content {width: 89%;}
	.order-preview-final {
		width: 100%;
		float: none;
	}
	.proposals .proposal {
		width: 100%;
		margin: 20px 0 10px;
	}
	
	.cards .block .use-form {
		position: fixed;
		background: #fff;
		top:0;
		z-index: 10;
		box-shadow: 0px 5px 20px #737373;
		-moz-box-shadow: 0px 5px 20px #737373;
		-webkit-box-shadow: 0px 5px 20px #737373;
		padding: 20px 25px;
		text-align: left;
		top: 50%;
		left: 50%;
		right: 5%;
		margin-left: -44%;
	}
	.cards .block .use-form .radio input {
		position: absolute;
		padding: 20px;
		border: 0;
	}
	ul.tabs li:last-child.passive {
		border-right: 3px solid #dde8fe;
	}
	ul.tabs li:last-child.passive::after {
		background: none;
	}
	section.table .button.add-manager {
		float: none;
		width: 100%;
		padding: 10px 0;
	}
	section.table .action-select {
		float: none;
		width: 100%;
		margin: 10px 0;
	}
	section.table .search {
		float: none;
		width: 100%;
	}
	section.table .search input {
		width: 97%;
	}
	table.layouts thead th.register, table.layouts thead th.email, table.layouts thead th.phone {display: none;}
	table.layouts tbody td.register, table.layouts tbody td.email, table.layouts tbody td.phone {display: none;}
	#mail, #addfile, #enter, #register {
		width: 220px;
	}
	section.table .action-select span {
		display: none;
	}
	section.table .action-select select {
		margin-left: 0;
	}
	section.table .action-select .button.make {
		margin-right: 0;
	}
	section.table .action-select select {
		min-width: 300px;
	}
	.tabs-container {
		overflow-x: scroll;
		overflow-y: hidden !important;
		-webkit-overflow-scrolling: touch;
		-ms-overflow-style: none;
		position: relative;
		z-index: 10;	
	}
	.mob-menu-back {
		display: block;
		position: absolute;
		z-index: 100000;
		margin-top: -37px;
		right:0;
		height: 34px;
		width: 51px;
		background: url(../img/mob-menu-back.png) right no-repeat;
	}
	.tabs-container::-webkit-scrollbar {display: none;}
	.wrapper {
		top: -3px;
	}
	.editor-left {
		width: 100%;
		float: none;
		display: none;
	}
	.editor-item {
		width: 86%;
	}
	.editor-right {
		width: 100%;
		text-align: center;
	}
	.instruments .instruments-bottom .instruments-input {
		float: none;
		width: 100%;
		margin-top: 20px;
		text-align: left;
	}
	.instruments .instruments-top .area {
		margin: 0;
	}
	.instruments-bottom {
		text-align: left;
		margin-top: 20px;
	}
	.instruments-bottom select {
		min-width: 140px;
	}
	.editor-right .back-image {
		width: 100%;
		float: none;
		margin-right: 0;
	}
	.editor-right .back-input {
		width: 100%;
		text-align: left;
		margin-top: 20px;
	}
	.editor-right .back-image span {
		text-align: left;
		overflow: hidden;
		width: 70px;
	}
}