/* RESET */

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
    min-width: 760px;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000; 
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;   
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}


/* STYLE */

/* fonts */

@font-face {
    font-family: Calibri-Regular;
    src: url(../font/calibri-regular.ttf);
    font-weight:400;
}

@font-face {
    font-family: Calibri-Bold;
    src: url(../font/calibri-bold.ttf);
    font-weight:400;
}

@font-face {
    font-family: Calibri-Italic;
    src: url(../font/calibri-italic.ttf);
    font-weight:400;
}

@font-face {
    font-family: Calibri-Bold-Italic;
    src: url(../font/calibri-bold-italic.ttf);
    font-weight:400;
}

html {
	background: #fff;
}

body {
	color: #333333;
	font: 400 15px 'Calibri-Regular', Arial, sans-serif;
	/* -webkit-font-smoothing:antialiased; */
}

a {
	font: 400 15px 'Calibri-Regular', Arial, sans-serif;
	color: #32bef0;
}

.ruble::after {
	content: "\f158";
	display: inline-block;
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

button, input, textarea, select:focus {
	outline: none;
}
button {
	-webkit-appearance: none;
	-moz-appearance: none;
	border: 0;
	cursor: pointer;
}

input[type="text"], textarea, select {
	-webkit-appearance: none;
	-moz-appearance: none;
	border: 1px solid #dedede;
	/* font: 400 15px 'Calibri-Bold', Arial, sans-serif; */
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}
input[type="checkbox"] {
	-webkit-appearance: none;
	-moz-appearance: none;
	width: 18px;
	height: 18px;
	background: #fff;
	border: 1px solid #6690ca;
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
}
input[type="radio"] {
	height: 12px;
	width: 12px;
	background: url(../img/radio.png) no-repeat;
	-webkit-appearance: none;
	-moz-appearance: none;
}
input[type="radio"]:checked {
	height: 12px;
	width: 12px;
	background: url(../img/option-checked.png) no-repeat;
	-webkit-appearance: none;
	-moz-appearance: none;
}
input[type="checkbox"]:checked {
	background: url(../img/checkbox.png) no-repeat;
	background-position: center;
}

input:focus, textarea:focus, select:focus {
	outline: none;
}

select {
	padding: 6px 45px 5px 10px;
	font: 400 14px 'Calibri-Bold', Arial, sans-serif;
	color: #666;
	background: url(../img/select.png) no-repeat;
	background-position: right 0px;
    text-indent: 0.01px;
    text-overflow: '';
}

h3 {
	font: 400 25px 'Calibri-Bold', Arial, sans-serif;
	margin-bottom: 10px;
}
h4{
	font: 400 20px 'Calibri-Bold', Arial, sans-serif;
	margin-bottom: 10px;
}
.yellow {
	background: #ffd90b;
}
.blue {
	background: #32bef0;
}
.darkblue {
	background: #5d8ac7;
}
.gray {
	background: #e7e7e7;
}
.gray a {
	color: #666;
	text-decoration: none;
	font: 400 15px 'Calibri-Bold', Arial, sans-serif;
}
.blue a, .darkblue a {
	color: #fff !important;
	text-decoration: none;
	font: 400 15px 'Calibri-Bold', Arial, sans-serif;
}
.button {
	padding: 10px 20px 7px;
	text-align: center;
	margin-right: 10px;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
}

/* header */

header {
	max-width: 1000px;
	margin: 0 auto 30px auto;
}

header section#top {
	/* height: 100px; */
	width: 100%;
	padding: 25px 0;
}
	.mob-enter {display: none;}
	header section#top #logo {
		width: 220px; 
		height: 76px; 
		background: url(../img/logo.png) no-repeat;
		position: relative;
		float: left;
	}
	
		header section#top #logo a {
			width: 220px; 
			height: 76px; 
			position: absolute;
			top: 0;
			left: 0;
		}
	
	header section#top #cart {
		float: right;
		width: 185px;
		height: 76px;
	}
		#cart .cart-image {
			background: url(../img/cart.png) no-repeat;
			width: 42px;
			height: 37px;
			margin: 7px 0px 0 0;
			float: left;
		}
		#cart .cart-text {
			overflow: hidden;
			float: right;
			width: 130px;
		}
			.cart-text span {
				color: #333;
				font: 400 18px 'Calibri-Bold', Arial, sans-serif;
				line-height: 1;
			}
			.cart-text span.cart-total {
				color: #aa519a;
				font: 400 37px 'Calibri-Bold', Arial, sans-serif;
				padding-right: 23px;
				background: url(../img/ruble.png) no-repeat;
				background-position: right center;
				width: 20px;
				height: 27px;
			}
			.cart-text a {
				font: 400 18px 'Calibri-Bold', Arial, sans-serif;
				color: #333;
				text-decoration: none;
				position: relative;
			}
				.cart-text a.cart-link:after {
					border-bottom: 1px solid #333;
					content:'';
				    position:absolute;
				    left:0;
				    right:0;
				    bottom: 1px;
				}
	
	header section#top #intro-wrap {
		margin: 0 auto;
		max-width: 515px;
		position: relative;
	}
				
	header section#top #intro {
		padding: 8px 15px;
		border: 3px solid #ccda71;
		position: relative;
		overflow: hidden;
		
		border-radius: 5px;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
		
		font: 400 20px 'Calibri-Bold', Arial, sans-serif;
		color: #363e4e;
	}
		header section#top #intro span {
			color: #aa519a;
			font-size: 23px;
		}
	
	header section#top #intro-wrap #quote {
		background: url(../img/quote.png) no-repeat;
		height: 19px;
		width: 21px;
		position: relative;
		z-index: 1;
		float: left;
		top: 25px;
		left: 3px;
	}

header section#bottom {
	height: 18px;
	padding: 15px 25px;
	background: #32bdf0;
	max-width: 1000px;
	margin: 0 auto;
	color: #fff;
	
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}
	header section#bottom ul.menu {
		
		float: left;
	}
		header section#bottom ul.menu li {
			list-style-type: none;
			float: left;
			padding: 10px 20px 13px;
			position: relative;
			top: -10px;
			margin: 0 3px;
		}
		header section#bottom ul.menu li.sep {
			width: 1px;
			height: 20px;
			background: #7bd5f5;
			padding: 0;
			position: relative;
			top: 0px;
		}
		header section#bottom ul.menu .hovered {
			border-radius: 5px 5px 0 0;
			-moz-border-radius: 5px 5px 0 0;
			-webkit-border-radius: 5px 5px 0 0;
			background: #8cd9f5;
		}
			header section#bottom ul.menu li:first-child {
				padding-left: 0;
			}
			header section#bottom ul.menu li a {
				text-decoration: none;
				color: #fff;
				font: 400 16px 'Calibri-Bold', Arial, sans-serif;
			}
			header section#bottom ul.menu li a:hover {
				text-decoration: underline;
			}
			header section#bottom ul.menu li:hover ul.child {
				display: block !important;
			}
				header section#bottom ul.menu ul.child {
					position: absolute;
					z-index: 10000;
					width: 200px;
					top: 41px;
					left: 0px;
					padding: 5px 15px;
					background: #8cd9f5;
					border-radius: 0 0 5px 5px;
					-moz-border-radius: 0 0 5px 5px;
					-webkit-border-radius: 0 0 5px 5px;
				}
				header section#bottom ul.menu li ul.child li {
					border-right: 0;
					padding: 2px 0;
					top: 0;
				}
				header section#bottom ul.menu li ul.child li a{
					color: #1c5063;
				}
			
	
	header section#bottom a.navigation {
		color: #fff;
		font: 400 16px 'Calibri-Regular', Arial, sans-serif;
		text-decoration: none;
		float: left;
		overflow: hidden;
	}
		header section#bottom a.navigation img {
			float: left;
			margin: 6px 10px 0 0;
		} 
	
	header section#bottom .actions {
		float: right;
		font: 400 16px 'Calibri-Regular', Arial, sans-serif;
	}
		header section#bottom .actions a.enter, header section#bottom .actions a.register {
			color: #fff;
			text-decoration: none;
			font: 400 15px 'Calibri-Bold', Arial, sans-serif;
		}
		section#bottom .actions .welcome {
			margin-right: 20px;
			display: inline-block;
			vertical-align: top;
		}
		section#bottom .actions .welcome img {
			margin: 0 10px 0 0;
		}
		section#bottom .actions a.logout {
			color: #007099;
			font: 400 16px 'Calibri-Bold', Arial, sans-serif;
			text-decoration: none;
			display: inline-block;
			overflow: hidden;
			vertical-align: top;
		}

	section#promo {
		width: 100%;
		overflow: hidden;
		margin: 50px 0 0px 0;
	}
		section#promo .block {
			width: 31%;
			overflow: hidden;
			display: inline-block;
			vertical-align: top;
			padding: 0 10px;
		}
			section#promo .block img {
				float: left;
				margin-right: 20px;
			}
			section#promo .block .block-text {
				display: block;
				overflow: hidden;
			}
				section#promo .block .block-text h3 {
					margin-bottom: 5px;
					color: #5d8ac7;
					font-size: 19px;
				}
				section#promo .block .block-text p {
					font: 400 15px 'Calibri-Bold', Arial, sans-serif;
				}
				section#promo .block .block-text .read-more {
					color: #666666;
					text-decoration: underline; 
					margin-top: 5px;
					display: block;
					font: 400 15px 'Calibri-Bold', Arial, sans-serif;
				}
				section#promo .block .block-text .telephones {
					margin-top: 30px;
					overflow: hidden;
				}	
					section#promo .block .block-text .telephones div {
						margin-bottom: 5px;
					}
				section#promo .block .block-text .tel-code {
					color: #999999;
					font: 400 14px 'Calibri-Bold', Arial, sans-serif;
					vertical-align: top;
					margin-right: 5px;
				}
				section#promo .block .block-text .tel-tel {
					font: 400 25px 'Calibri-Bold', Arial, sans-serif;
					line-height: 1;
				}
	
select::-ms-expand {
    display: none;
}
	
	

/* main */

.wrapper {
	border-top: 3px solid #32bef0;
	position: relative;
	z-index: 1;
}
.content {
	/* margin-top: 50px; */
	padding: 0 20px;
}


/* steps */

.steps {
	padding: 0 20px;
	position: relative;
	overflow: hidden;
}
	.steps .line {
		width:75%;
		left: 50%;
		top: 50px;
		margin-left: -40%;
		margin-top: 0;
		height: 4px;
		background: #eeeeee;
		margin-left: -39%;
		position: absolute;
		overflow: hidden;
	}
	.steps .step {
		width: 25%;
		float: left;
		text-align: center;
	}
	.steps .step div {
		height: 60px;
		width: 60px;
		border: 4px solid #eeeeee;
		border-radius: 100px;
		-moz-border-radius: 100px;
		-webkit-border-radius: 100px;
		text-align: center;
		margin: 0 auto;
		background: #fff;
		position: relative;
		z-index: 1;
		margin-top: 18px;
	}
		.steps .step div span {
			font: 400 35px 'Calibri-Bold', Arial, sans-serif;
			color: #c5c5c5;
			position: relative;
			top: 11px;
			margin-top: 0;
		}
	.steps .step.current div {
		height: 100px;
		width: 100px;
		position: relative;
		top: -17px;
		border: 0;
		background: #ffd90b;
		border-radius: 100px;
		-moz-border-radius: 100px;
		-webkit-border-radius: 100px;
		text-align: center;
	}
		.steps .step.current div span {
			font: 400 55px 'Calibri-Bold', Arial, sans-serif;
			color: #c5c5c5;
			position: relative;
			top: 22px;
			color: #fff;
		}
		.steps .step span {
			font: 400 18px 'Calibri-Bold', Arial, sans-serif;
			color: #c5c5c5;
			display: block;
			margin-top: 10px;
		}
		.steps .step.current span {
			font: 400 23px 'Calibri-Bold', Arial, sans-serif;
			color: #333;
			margin-top: 0;
		}


/* categories */

.categories {
	margin: 30px auto 20px auto;
	width: 90%;
	overflow: hidden;
	text-align: center;
}
	.categories .category-select {
		display: none;
	}
	.categories .simple-link {
		display: block;
	}
	.categories a {
		margin: 0 10px;
		text-decoration: none;
		position: relative;
		float: left;
		margin-bottom: 5px;
	}
	.categories a:hover{
		color: #ffd90b;
	}
	.categories a:hover:after {
		border-bottom: 1px dashed #ffd90b;
	}
	.categories a:after {
		border-bottom: 1px dashed #32bef0;
		content: '';
	    position: absolute;
	    left: 0;
	    right: 0;
	    bottom: 1px;
	}


/* cards */

.cards {
	width: 100%;
}
.cards .block, .cards .use-own {
	cursor: pointer;
	display: inline-block;
	width: 25%;
	margin: 0;
	float: left;
	text-align: center;
	margin-bottom: 30px;
	position: relative;
}
	.cards .block:hover img {
		border: 2px solid #FFD90B; 
		margin: 0;
	}
	.cards .block  img, .cards .use-own  img{
		width: 80%;
		height: auto;
		margin: 2px;
		
		box-shadow: 0px 5px 8px #737373;
		-moz-box-shadow: 0px 5px 8px #737373;
		-webkit-box-shadow: 0px 5px 8px #737373;
	}
	.cards .use-own .use-own-form {
		position: absolute;
		background: #fff;
		top:0;
		z-index: 10000000;
		box-shadow: 0px 5px 20px #737373;
		-moz-box-shadow: 0px 5px 20px #737373;
		-webkit-box-shadow: 0px 5px 20px #737373;
		top: -20px;
		padding: 15px;
		text-align: left;
	}
	.cards .use-own .use-own-form button {
		width: 100%;
		margin-top: 10px;
	}
	.cards .block .use-form {
		position: absolute;
		background: #fff;
		top:-20px;
		z-index: 100000000;
		box-shadow: 0px 5px 20px #737373;
		-moz-box-shadow: 0px 5px 20px #737373;
		-webkit-box-shadow: 0px 5px 20px #737373;
		padding: 20px 25px;
		text-align: left;
		
		left: 40%;
		margin-left: -40%;
	}
	.cards .block .use-form button {
		width: 100%;
		margin-top: 10px;
	}
	.cards .block .use-form .radio {
		margin-bottom: 10px;
		min-width: 220px;
	}
	.cards .block .use-form .radio input{
		position: absolute;
		padding: 20px 110px;
		z-index: 100000;
	}
	.cards .block .use-form span.radio-bold{
		font: 400 15px 'Calibri-Bold', Arial, sans-serif;
		position: relative;
		display: block;
		margin: 2px 0 0 27px;
	}
	.cards .block .use-form span.radio-normal{
		font: 400 13px 'Calibri-Bold', Arial, sans-serif;
		display: block;
		color: #999999;
		position: relative;
		margin-left: 27px;
	}


/* stickers */

.stickers {
	width: 100%;
}
.stickers .block, .stickers .use-own {
	cursor: pointer;
	display: inline-block;
	width: 25%;
	margin: 0;
	float: left;
	text-align: center;
	margin-bottom: 30px;
	position: relative;
}
	.stickers .container {
		width: 90%;
		margin: 0 auto;
		padding: 15px 0;
		box-shadow: 0px 5px 10px #cdcdcd;
		-moz-box-shadow: 0px 5px 10px #cdcdcd;
		-webkit-box-shadow: 0px 5px 10px #cdcdcd;
	}
	.stickers .use-own  img{
		width: 80%;
		height: auto;
		
		box-shadow: 0px 5px 10px #cdcdcd;
		-moz-box-shadow: 0px 5px 10px #cdcdcd;
		-webkit-box-shadow: 0px 5px 10px #cdcdcd;
	}
	.stickers .block  img {
		width: 60%;
		height: auto;
		margin-bottom: 10px;
		
		border-radius: 5px;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
		box-shadow: 0px 5px 8px #737373;
		-moz-box-shadow: 0px 5px 8px #737373;
		-webkit-box-shadow: 0px 5px 8px #737373;
	}
	.stickers .block select {
		width: 170px;
		margin: 5px auto;
		background-position: right 0;
	}
	.stickers .block .button {
		width: 130px;
		margin: 5px auto;
		position: relative;
		padding-bottom: 3px;
		padding-top: 7px;
		padding-right: 25px;
		padding-left: 15px;
	}
	.stickers .block .button.yellow {
		background: #e4e4e4;
	}
	.stickers .block .button.yellow:hover {
		background: #ffd90b;
	}
	.stickers .block .button:hover:after {
		background-image: url(../img/submit.png);
		width: 21px;
		height: 38px;
		position: absolute;
		right: 0;
		z-index: 1;
		content: '';
		top:0;
	}
	.stickers .block .button:after {
		background-image: url(../img/graybutton.png);
		width: 21px;
		height: 38px;
		position: absolute;
		right: 0;
		z-index: 1;
		content: '';
		top:0;
	}
	.stickers .block .button:hover{
		color: #514401;
	}
	.stickers .block .button a{
		font: 400 15px 'Calibri-Bold', Arial, sans-serif;
		color: #666666;
		text-decoration: none;
	}
	.stickers .block a{
		display: block;
		margin: 5px 0;
	}

	.stickers .use-own .use-own-form {
		position: absolute;
		background: #fff;
		top:0;
		z-index: 10;
		box-shadow: 0px 5px 20px #737373;
		-moz-box-shadow: 0px 5px 20px #737373;
		-webkit-box-shadow: 0px 5px 20px #737373;
		top: -20px;
		padding: 15px;
		text-align: left;
	}
	.stickers .use-own .use-own-form button {
		width: 100%;
		margin-top: 10px;
	}

/* order form */
.order-wrapper {
	overflow: hidden;
	margin-bottom: 40px;
}
.order-form {
	width: 45%;
	margin-top: 60px;
	float: left;
}
#tabs a {
	padding: 10px 10px;
	background:#fff;
	border: 3px solid #f2f2f2;
	border-radius: 5px 5px 0 0;
	-moz-border-radius: 5px 5px 0 0;
	-webkit-border-radius: 5px 5px 0 0;
	text-decoration: none;
	font: 400 15px 'Calibri-Bold', Arial, sans-serif;
	color: #999999;
	background: #f2f2f2;
}
#tabs a.current {
	border-bottom: 3px solid #fff;
	color: #333;
	background: #fff;
}
.tabs_content {
	width:100%;
	height:410px;
	background:#fff;
	margin-top: 8px;
	border: 3px solid #efefef;
	border-radius: 5px;
	-moz-border-radius: 5px ;
	-webkit-border-radius:5px;
	padding: 15px;
}
.tabs_content>div { display:none}

.tabs_content table {width: 100%;}
	.tabs_content table tbody td:first-child {
		padding: 0;
	}
	.tabs_content table thead th:first-child {
		padding: 0;
	}
	.tabs_content table thead th {
		text-align: center;
		font: 400 17px 'Calibri-Bold', Arial, sans-serif;
		color: #666666;
		padding-bottom: 5px;
	}
	.tabs_content table tbody tr {
		background: #f4f4f4;
	}
	.tabs_content table tbody tr:hover {
		background: #32bef0;
	}
	.tabs_content table tbody tr:hover td {
		color: #fff;
	}
	.tabs_content table tbody td {
		font: 400 15px 'Calibri-Bold', Arial, sans-serif;
		text-align: center;
		padding: 10px;
		/* background: #666; */
	}
	.tabs_content table tbody tr td:first-child {
		border-radius: 5px 0 0 5px;
		-moz-border-radius: 5px 0 0 5px;
		-webkit-border-radius: 5px 0 0 5px;
	}
	.tabs_content table tbody tr td:last-child {
		border-radius: 0 5px 5px 0;
		-moz-border-radius: 0 5px 5px 0;
		-webkit-border-radius: 0 5px 5px 0;
	}
	.tabs_content table .price {
		width: 70%;
	}
	.tabs_content table .discount {
		width: 30%;
	}
	
	.tabs_content .radio, .form-container .radio {
		margin-top: 20px;
	}
		.tabs_content .radio div, .form-container .radio div {
			margin: 5px 0;
		}
		.tabs_content .radio input, .form-container .radio input {
			position: absolute;
			padding: 20px 110px;
			z-index: 100000;
			margin-right: 10px;
		}
		.tabs_content .radio span, .form-container .radio span {
			/* display: block; */
			font: 400 15px 'Calibri-Bold', Arial, sans-serif;
			margin-left: 20px;
			margin-top: 2px;
		}
			.tabs_content .radio span span, .form-container .radio span span {
				color: #32bef0;
			}
		.tabs_content .radio p, .form-container .radio p {
			font: 400 17px 'Calibri-Bold', Arial, sans-serif;
			color: #666666;
			margin-bottom: 5px;
		}
		.form-container {
			border: 2px solid #efefef;
			padding: 20px;
			border-radius: 5px;
			-moz-border-radius: 5px;
			-webkit-border-radius: 5px;
		}
		.form-container .radio span {
			vertical-align: top;
		}
		.form-container .radio div img {
			margin-right: 5px;
		}
		.form-container .text-inputs {
			margin-top: 20px;
		}
		.form-container .radio {
			margin-bottom: 20px;
			margin-top: 0;
		}

.order-preview {
	float: right;
	margin-top: 60px;
}
	.order-preview .big-preview img{
		width: 400px;
		height: auto;
	}
	.order-preview .big-preview {
		margin-bottom: 10px;
	}
	.order-preview .small-preview img {
		float: left;
		margin-right: 10px;
	}
	.order-preview .small-preview p {
		font: 400 15px 'Calibri-Bold', Arial, sans-serif;
		color: #666;
	}
	
.order-preview-final {
	float: left;
	margin-left: 40px;
	margin-top: 10px;
}
	.order-preview-final .preview-wrapper {
		float: left;
		margin-right: 20px;
	}
	.order-preview-final .big-preview img{
		width: 200px;
		height: auto;
	}
	.order-preview-final .big-preview {
		margin-bottom: 10px;
	}
	.order-preview-final .small-preview img {
		float: left;
		margin-right: 10px;
		width: 100px;
		height: auto;
	}
	.order-preview-final .small-preview p {
		font: 400 15px 'Calibri-Bold', Arial, sans-serif;
		color: #666;
	}

.ordered {
	float: left;
}
.ordered-wrapper {
	margin-top: 50px;
	overflow: hidden;
}
	.ordered select {
		width: 200px;
		background-position: right 0px;
		margin-top: 10px;
	}


/* editor */

.editor-wrapper {
	overflow: hidden;
	margin-top: 40px;
	width: 100%;
}
.editor-left {
	float: left;
	width: 35%;
}
	.editor-item {
		padding: 10px 20px 8px 20px;
		border: 1px solid #efefef;
		margin-bottom: 5px;
		border-radius: 5px;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
		text-align: left;
		width: 230px;
		overflow: hidden;
	}
	.editor-item span {
		font: 400 15px 'Calibri-Bold', Arial, sans-serif;
		color: #333333;
		display: block;
		float: left;
	}
	.editor-item .close-item {
		background: url(../img/close-item.png) no-repeat;
		float: right;
		background-size: cover;
		height: 17px;
		width: 17px;
		cursor: pointer;
	}
	.editor-item .close-item:hover {
		background: url(../img/close-item-hover.png) no-repeat;
		background-size: cover;
		height: 17px;
		width: 17px;
	}
.editor-right {
	overflow: hidden;
	width: 65%;
}
	.instruments .instruments-top .area {
		display: inline-block;
		overflow: hidden;
		margin-right: 10px;
	}
	.instruments .instruments-top .area img {
		display: inline-block;
		margin-right: 1px;
		width: 45px;
		height: auto;
	}
	.instruments .instruments-bottom .instruments-input{
		float: right;
		width: 50%;
		margin-bottom: 10px;
	}
	.instruments .instruments-bottom .instruments-input input {
		float: left;
		margin-right: 10px;
	}
	.instruments .instruments-bottom .instruments-input .checkbox {
		overflow: hidden;
	}
	.instruments .instruments-bottom .instruments-input .checkbox span:first-child{
		font: 400 13px 'Calibri-Bold', Arial, sans-serif;
		caption-side: #333;
	}
	.instruments .instruments-bottom .instruments-input .checkbox span:last-child{
		font: 400 12px 'Calibri-Bold', Arial, sans-serif;
		color: #999;
		position: relative;
		top: -3px;
	}
	.editor-right img {
		width: 100%;
	}
	.editor-right .back  {
		margin-top: 20px;
	}
	.editor-right .back-image {
		float: left;
		overflow: hidden;
		width: 200px;
		margin-right: 50px;
	}
		.editor-right .back-image span {
			display: block;
			font: 400 15px 'Calibri-Bold', Arial, sans-serif;
			color: #999999;
		}
		.editor-right .back-image img {
			width: 100px;
			float: left;
			height: auto;
			margin-right: 10px;
		}
		.editor-right .back-input {
			width: 200px;
			overflow: hidden
		}
			.editor-right .back-input input {
				float: left;
				margin-right: 10px;
			}
			.editor-right .back-input span {
				display: block;
			}

.step-buttons {
	margin: 20px 0;
	width: 100%;
	overflow: hidden;
}
	.step-buttons .back {
		float: left;
		padding-top: 12px;	
		padding-bottom: 8px;
		padding-left: 30px;
		position: relative;
		background: #eeeeee;
	}
	.step-buttons .back:before {
		background-image: url(../img/grabutton-left.png);
		width: 21px;
		height: 39px;
		position: absolute;
		left: 0;
		z-index: 1;
		content: '';
		top:0;
	}
	.step-buttons .back a {
		text-decoration: none;
		font: 400 15px 'Calibri-Bold', Arial, sans-serif;
	}
	.step-buttons .forward {
		float: right;
		position: relative;	
		padding-right: 50px;
		padding-top: 12px;	
		padding-bottom: 8px;
		padding-left: 40px;	
	}
	.step-buttons .totalsum {
		float: right;
		margin-top: 3px;
		margin-right: 20px;
	}
		.step-buttons .totalsum span {
			font: 400 18px 'Calibri-Bold', Arial, sans-serif;
		}
		.step-buttons .totalsum span.price{
			font: 400 30px 'Calibri-Bold', Arial, sans-serif;
			color: #32bef0;
			margin-left: 10px;
		}
	.step-buttons .forward a {
		text-decoration: none;
		font: 400 15px 'Calibri-Bold', Arial, sans-serif;
		color: #514401;
	}
	.step-buttons .forward:after {
		background-image: url(../img/submit.png);
		width: 21px;
		height: 39px;
		position: absolute;
		right: 0;
		z-index: 1;
		content: '';
		top:0;
	}
/* article */

.proposals .proposal {
	text-align: center;
	margin: 40px 0;
	float: left;
	width: 32%;
	margin-right: 10px;
}
	.proposals .proposal div {
		margin-top: 20px;
	}
	.proposals .proposal img {
		width: 90%;
		box-shadow: 0px 3px 10px #737373;
		-moz-box-shadow: 0px 3px 10px #737373;
		-webkit-box-shadow: 0px 3px 10px #737373;
	}
	.proposals .proposal span.price {
		font: 400 20px 'Calibri-Bold', Arial, sans-serif;
		color: #32bef0;
		display: inline-block;
		margin-top: 5px;
		width: 100px;
	}
	.proposals .proposal .button {
		display: inline-block;
		padding: 11px 35px 9px 25px;
		max-width: 100px;
		position: relative;
		margin-top: 0;
	}
	.proposals .proposal .button:after{
		background-image: url(../img/graybutton.png);
		width: 21px;
		height: 38px;
		position: absolute;
		right: 0;
		z-index: 1;
		content: '';
		top:0;	
	}
.show-other {
	margin: 0 auto;
	max-width: 200px;
	clear: both;
}

/* tabs */

.main {
	max-width: 1000px;
	margin: 0 auto;
	padding: 50px 40px;
}
ul.tabs {
	list-style-type: none;
	max-width: 1000px;
	margin: 0 auto;
	overflow: hidden;
	position: relative;
	top: 5px;
}
	ul.tabs li:first-child.passive {
		border-radius: 5px 0 0 0;
		-moz-border-radius: 5px 0 0 0;
		-webkit-border-radius: 5px 0 0 0;
		border-left: 3px solid #dde8fe;
	}
	ul.tabs li {
		float: left;
		text-align: center;
		font: 400 23px 'Calibri-Bold', Arial, sans-serif;
		padding: 17px 40px 10px 40px;
		border-right: 0;
		
		border-radius: 5px 5px 0 0;
		-moz-border-radius: 5px 5px 0 0;
		-webkit-border-radius: 5px 5px 0 0;
	}
	ul.tabs li.passive:hover a {
		text-decoration: underline;
	}
	ul.tabs li.passive a {
		font: 400 18px 'Calibri-Bold', Arial, sans-serif;
		text-decoration: none;
		color: #333;
	}
	ul.tabs li.passive-sep {
		height: 47px;
		width: 28px;
		padding: 0;
		margin-top: 11px;
		background: url(../img/passive-right.png) no-repeat;
		border-radius: 0;
		-moz-border-radius: 0px;
		-webkit-border-radius: 0px;
	}
	ul.tabs li.active-to-passive-sep {
		background: url(../img/active-to-passive-sep.png) no-repeat;
		background-position: right 1px;
		padding: 0;
		height: 60px;
		width: 31px;
		border-radius: 0;
		-moz-border-radius: 0px;
		-webkit-border-radius: 0px;
		z-index: 10;
		position: relative;
		border-bottom: 3px solid #fff;
	}
	ul.tabs li.passive-to-active-sep {
		background: url(../img/passive-last.png) right no-repeat;
		padding: 0;
		height: 47px;
		width: 28px;
		margin-top: 11px;
		position: relative;
		left: -1px;
		
	}
	ul.tabs li.active{
		border: 3px solid #32bef0;
		border-right: 0;
		margin-right: -3px;
		position: relative;
		z-index: 10;
		top: 0px;
		padding-top: 19px;
		background: #fff;
		border-bottom: 3px solid #fff;
	}
	ul.tabs li.passive {
		font-size: 18px;
		position: relative;
		margin-top: 11px;
		border: 0;
		padding: 10px 30px;
		height: 24px;
		overflow: hidden;
		border-top: 3px solid #dde8fe;
		border-left: 0px solid #dde8fe;
		/* border-right: 3px solid #dde8fe; */
		border-top-left-radius: 0;
		border-top-right-radius: 0;
		
	}	
	ul.tabs li:last-child.active {
		border-right: 0px solid #32bef0;
	}
	ul.tabs li:last-child.passive {
		border-right: 0px solid #dde8fe;
		overflow: visible;
	}
	ul.tabs li:last-child.active:after {
		border-right: 0px solid #dde8fe;
		background: url(../img/active-last.png) right no-repeat;
		width: 31px;
		height: 60px;
		position: absolute;
		right: -29px;
		z-index: 1;
		content: '';
		top:-2px;
		background-size: cover;
	}
	ul.tabs li:last-child.passive:after {
		border-right: 0px solid #dde8fe;
		background: url(../img/passive-last.png) right no-repeat;
		width: 27px;
		height: 50px;
		position: absolute;
		right: -27px;
		z-index: 1;
		content: '';
		top:-4px;
	}
		

/* account */

.account {
	width: 100%;
	overflow: hidden;
}

	.account img.userpic {
		float: left;
		width: 150px;
		height: auto;
		margin-right: 20px;
	}
	.main-info .name {
		font: 400 23px 'Calibri-Bold', Arial, sans-serif;
		float: left;
		margin-right: 15px;	
	}
	.main-info .main-info-actions {
		
	}
		.main-info .main-info-actions img {
			margin-right: 10px;
		}
	.main-info .date {
		color: #666;
		font: 400 15px 'Calibri-Bold', Arial, sans-serif;
	}
	.contact-money-info {
		margin-top: 30px;
	}
		.contact-money-info div {
			float: left;
			line-height: 1.8;
			margin-right: 50px;
		}
			.contact-money-info div img.edit {
				margin-left: 5px;
				position: relative;
				top: 3px;
			}
		.contact-money-info div .info-content.edit {
			font: 400 15px 'Calibri-Bold', Arial, sans-serif;
			color: #666;
			margin-left: 3px;
		}
		.contact-money-info div .info-content {
			font: 400 15px 'Calibri-Bold', Arial, sans-serif;
			color: #666;
			margin-left: 3px;
		}
		.contact-money-info div div.money-transfer {
			float: right;
			width: 150px;
			height: 23px;
			background: url(../img/money-output.png) no-repeat;
			padding-left: 35px;
			margin-left: 10px;
		}
		.contact-money-info div .info-type {
			font: 400 15px 'Calibri-Bold', Arial, sans-serif;
			color: #333;
		}
		
		
/* modal window */

#lean, #lean-enter, #lean-register {
	position: fixed;
	z-index: 1000000;
	top: 0px;
	left: 0px;
	height: 100%;
	width: 100%;
	display: none;
	overflow: auto;
}
#close-overlay {
	position: fixed;
	z-index: 1000;
	top: 0px;
	left: 0px;
	height: 100%;
	width: 100%;
	display: none;
	overflow: auto;
	background: rgba(0,0,0,0.45);
	/* background: url('../images/close_overlay.png'); */
}
#block-close-overlay {
	position: fixed;
	z-index: 1000;
	top: 0px;
	left: 0px;
	height: 100%;
	width: 100%;
	display: none;
	overflow: auto;
	background: rgba(0,0,0,0);
	/* background: url('../images/close_overlay.png'); */
}
.modal_close {
	background: url(../img/close-button.png) no-repeat;
	height: 59px;
	width: 59px;
	background-position: center;
	position: absolute;
	top: -5px;
	right: 0;
	cursor: pointer;
	z-index: 10000000;
}
#mail, #addfile, #enter, #register {
	display: none;
	background: #fff;
	padding: 20px 25px;
	border-radius: 1px;
	-moz-border-radius: 1px;
	-webkit-border-radius: 1px;
	-webkit-box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.35);
	-moz-box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.35);
	box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.35);
	margin: 10% auto 50px auto;
	width: 335px;
	position: relative;
}

form label {
	font: 400 16px 'Calibri-Bold', Arial, sans-serif;
	margin-bottom: 3px;
	display: block;
}

form input[type="text"], form input[type="number"], form input[type="tel"], form input[type="email"], form input[type="adress"], form input[type="login"], form input[type="password"], form textarea {
	margin-bottom: 15px;
	-webkit-appearance: none;
	-moz-appearance: none;
	border: 1px solid #dedede;
	padding: 7px 15px 5px 10px;
	min-width: 250px;
	font: 400 15px 'Calibri-Bold', Arial, sans-serif;
	
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;

}
form select {
	margin-bottom: 15px;
}
form input {
	line-height: 1;
}
form input[type="file"] {
	-webkit-appearance: none;
	visibility: hidden;
	height: 0;
	padding: 0;
	margin: 0;
}
form textarea {
	min-width: 300px;
	min-height: 100px;
	max-width: 300px;
	max-height: 200px;
}


button {
	background: #ffd90b;
	text-align: center;
	color: #333;
	-webkit-appearance: none;
	-moz-appearance: none;
	border: 0;
	font: 400 16px 'Calibri-Bold', Arial, sans-serif;
	padding: 0;
	width: 178px;
	height: 38px;
	
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	position: relative;
	cursor: pointer;
	padding-right: 12px;
	display: block;
}
	button:after {
		background-image: url(../img/submit.png);
		width: 21px;
		height: 38px;
		position: absolute;
		right: 0;
		z-index: 1;
		content: '';
		top:0;
	}

#filelist {
	font: 400 15px 'Calibri-Bold', Arial, sans-serif;
	margin-bottom: 10px;
	line-height: 1.4;
}
	#filelist .remove-file {
		width: 10px;
		height: 10px;
		background: url(../img/remove-file.png);
		cursor: pointer;
		float: left;
		margin-right: 10px;
		margin-top: 5px;
	}
span.choose_file {
	color: #32bef0;
	cursor: pointer;
	border-bottom: 1px dashed #32bef0;
	-webkit-font-smoothing: subpixel-antialiased;
}


/* money output and money-history */

div.money {
	overflow: hidden;
	/* margin-bottom: 20px; */
}

	section.money-output {
		float: left;
		min-width: 400px;
		/* width:30%; */
	}
		section.money-output form select {
			
		}
		section.money-output h3 span {
			color: #aa519a;
		}
	section.money-output form textarea {
		width: 80%;
		min-width: 80%;
	}
		section.money-output form input[type="number"] {
			min-width: 70px;
			width: 70px;
			padding: 5px 10px;
		}
		section.money-output form span {color: #666; margin-left: 10px; vertical-align: middle; font-size: 15px;}
		
		
	section.money-history {
		overflow: hidden;
		float: right;
		min-width: 520px;
		margin-top: 0 !important;
	}
	section.money-history table tr td:first-child, section.money-history table tr th:first-child{
		padding-left: 20px;
	}
	table td span.status-completed {
		color: #a1b335;
	}
	table td span.status-work {
		color: #d1b623;
	}
	table td span.status-failure {
		color: #e40039;
	}
	

/* table */

section.table {
	margin-top: 50px;
}
.select-search-wrapper {
	margin-bottom: 20px;
	overflow: hidden;
}
	.select-search-wrapper .tumbler {
		float: left;
	}
	.select-search-wrapper .tumbler span, .select-search-wrapper .tumbler a{
		position: relative; 
		top: 8px;
		font: 400 15px 'Calibri-Bold', Arial, sans-serif;
		
	}
	section.table .button.add-manager {
		width: 170px;
		float: left;
	}
	section.table .button a {
		color: #514401;
		text-decoration: none;
		font: 400 15px 'Calibri-Bold', Arial, sans-serif;
	}
	section.table .select {
		float: left;
	}
	.select h4 {
		position: relative;
		top: 10px;
	}
	.select div.term {
		float: left;
		height: 8px;
		width: 8px;
		margin-top: 5px;
		margin-right: 8px;
		border-radius: 50px;
		-moz-border-radius: 50px;
		-webkit-border-radius: 50px;
	}
	td.term div.term {
		float: left;
		height: 8px;
		width: 8px;
		margin-top: -2px;
		margin-right: 8px;
		border-radius: 50px;
		-moz-border-radius: 50px;
		-webkit-border-radius: 50px;
	}
		div.term.small {
			background: #ea5058;
		}
		div.term.medium {
			background: #fecc15;
		}
		div.term.big {
			background: #c3d555;
		}
	.select span.term {
		margin-right: 25px;
		font-size: 15px !important;
		display: block;
		float: left;
	}
	section.table .action-select {
		float: right;
		margin-left: 20px;
		display: table;
	}
		section.table .select span {
			font: 400 18px 'Calibri-Bold', Arial, sans-serif;
			position: relative;
			top: 2px;
		}
		section.table .action-select span {
			font: 400 16px 'Calibri-Bold', Arial, sans-serif;
			vertical-align: middle;
			display: table-cell;
		}
		section.table .select select {
			padding: 6px 45px 5px 10px;
			font: 400 14px 'Calibri-Bold', Arial, sans-serif;
			color: #666;
			margin-left: 10px;
			background: url(../img/select.png) no-repeat;
			background-position: right 0px;
			-moz-appearance: none;
		    text-indent: 0.01px;
		    text-overflow: '';
		}
		@-moz-document url-prefix() { 
		 section.table .select select {
		     background-position: right 0px;
		  }
		}
		section.table .action-select select {
			padding: 6px 45px 5px 10px;
			font: 400 14px 'Calibri-Bold', Arial, sans-serif;
			color: #666;
			margin-left: 10px;
			background: url(../img/select.png) no-repeat;
			background-position: right 0px;
		}
			section.table .action-select .button.make {
				width: 20px; 
				float: right; 
				margin-left: 10px;
				padding: 9px 12px 6px;
			} 
	
	section.table .search {
		float: right;
		position: relative;
	}
		section.table .search input {
			padding: 6px 5px 5px 5px;
			font: 400 14px 'Calibri-Regular', Arial, sans-serif;
			color: #666;
			width: 250px;
		}
		section.table .search button#search-submit {
			background: url(../img/search-submit.png) no-repeat;
			height: 27px;
			width: 25px;
			vertical-align: middle;
			position: absolute;
			z-index: 1;
			right: 5px;
			top: 4px;
		}
		section.table .search button#search-submit:after {
			background: none;
		}

.table table {
	overflow: hidden;
	width: 100%;
	margin-top: 20px;
}
	.table table thead {
		background: #ededed;
	}
		.table table thead th {
			padding: 13px 10px 10px 5px;
			text-align: left;
			cursor: pointer;
			vertical-align: middle;
		}
		.table table thead th.hidden-sort.headerSortUp, .table table thead th.hidden-sort.headerSortDown {
			background-position: center center;
		}
		.table table thead th.headerSortUp {
			background: url(../img/asc.gif) no-repeat;
			background-position: center right;
		}
		.table table thead th.headerSortDown {
			background: url(../img/desc.gif) no-repeat;
			background-position: center right;
		}
		.table table thead th.img {
			width: 180px;
		}
		.table table th.mail {
			text-align: center;
		}
		.table table thead th:first-child {
			border-radius: 5px 0 0 5px;
			-moz-border-radius: 5px 0 0 5px;
			-webkit-border-radius: 5px 0 0 5px;
		}
		.table table thead th:last-child {
			border-radius: 0 5px 5px 0;
			-moz-border-radius: 0 5px 5px 0;
			-webkit-border-radius: 0 5px 5px 0;
		}
			.table table thead th span {
				position: relative;
				cursor: pointer;
				font: 400 15px 'Calibri-Bold', Arial, sans-serif;
			}
			.table table thead th span:after {
				border-bottom: 1px dotted #333;
				content: '';
			    position: absolute;
			    left: 0;
			    right: 0;
			    bottom: 1px;
			}
			
	.table table tbody {
		
	}
		.table table tbody tr:first-child td {
			padding-top: 20px;
		}
		table tr td:first-child, table tr th:first-child {
			padding-left: 20px;
		}
		/* .table table tbody tr.checked {background: #fafafa;} */
		.table table td {
			vertical-align: middle;
			padding: 5px;
			
		}
		.table table td.actions {
			text-align: center;
		}
		.table table td.actions div {
			float: left;
			margin-right: 10px;
			height: 30px;
			margin-top: 5px;
		}
		.table table td.actions div.show {
			margin-top: 10px;
		}
		.table table td.img {
			padding: 20px 5px;
			width: 180px;
		}
		.table table td img.money-out {
			vertical-align: middle;
			margin-top: -5px;
			margin-left: 10px;
		}
		.table table td.mail, .table table td.layout, .table table th.layout {
			text-align: center;
		}
		.table table td.name input[type="checkbox"] {
			margin-right: 10px;
		}
			.table table td.img img {
				box-shadow: 0px 1px 5px #737373;
				-moz-box-shadow: 0px 1px 5px #737373;
				-webkit-box-shadow: 0px 1px 5px #737373;
				
				width: 150px;
				height: auto;
			}
			.no-results {
				display: none;
				text-align: center;
				font: 400 20px 'Calibri-Bold', Arial, sans-serif;
				color: #666;
				margin-top: 20px;
			}
	

/* letter */

.letter-recievers {
	float: left;
	margin-right: 100px;
}
	.letter-recievers ul li {
		margin-bottom: 5px;
	}
.letter-templates {
	float: right;
}
	.letter-templates .button {
		margin-bottom: 10px;
		padding: 10px 35px;
		margin-right: 0 !important;
	}

.letter {
	margin: 0 auto;
	overflow: hidden;
}
	.letter form button[type="submit"]{
		margin-top: 10px;
	}
	
/* page nav */

.page-nav {
	float: right;
	margin: 20px 0;
}
.page-nav ul li a {
	text-decoration: none;
	font: 400 15px 'Calibri-Bold', Arial, sans-serif;
}
.page-nav ul li.back a, .page-nav ul li.forward a {
	position: absolute;
	height: 38px; 
	width: 38px;
	top: 0;
	left: 0;
}
.page-nav ul li.back, .page-nav ul li.forward {
	position: relative;
	padding: 0;
}
.page-nav ul li.back {
	height: 38px;
	width: 38px;
	background: url(../img/page-nav-left.png) no-repeat;
}
.page-nav ul li.forward {
	height: 38px;
	width: 38px;
	background: url(../img/page-nav-right.png) no-repeat;
}
.page-nav ul li.current {
	background: #f0f0f0;
	color: #c5c5c5;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}
.page-nav ul li {
	float: left;
	list-style-type: none;
	padding: 10px 15px;
	font: 400 15px 'Calibri-Bold', Arial, sans-serif;
}

	
/* footer */

footer {
	padding: 20px 0;
	margin: 0 auto;
	overflow: hidden;
	max-width: 1000px;
	border-top: 1px solid #e8e8e8;
	clear: both;
}
	footer ul.menu {
		display: none;
	}
	.map {
		text-align: justify;
		overflow: hidden;
	}

		.map .block {
			/* display: inline-block; */
		    margin-right: -.25em;
		    position: relative;
		    top: 1.25em;
		    vertical-align: top;
		    float: left;
		    overflow: hidden;
		    margin-right: 7%;
		}
			.map .block:last-child {
				margin-right: 0;
			}
			.map .block span {
				color: #666666;
				font: 400 17px 'Calibri-Bold', Arial, sans-serif;
			}
				.block ul {
					list-style-type: none;
					margin-top: 10px;
				}
					.block ul li {
						color: #999999;
						font: 400 15px 'Calibri-Bold', Arial, sans-serif;
					}

	.payment {
		margin-top: 50px;
		overflow: hidden;
		color: #666666;
	}
		.payment .block {
			float: left;
			margin-right: 50px;
		}
			.payment .block img {
				float: left;
				height: 30px;
				margin-right: 20px;
			}
			.payment .block:last-child {
				float: right;
				margin-right: 0;
			}
/* adaptive */

@media screen and (max-width: 1030px) {
	.main, footer, ul.tabs, header {
		padding-right: 20px;
		padding-left: 20px;
	}
	header section#bottom {
		margin: 10px auto;
	}
	header section#top {
		height: 100%;
	}
	header section#top #intro {
		font-size: 15px;
	}
	header section#top #logo {
		width: 20%;
		background-size: contain;
	}
	header section#top #intro span {
		font-size: 17px;
	}
	header section#top #cart {
		margin-left: 20px;
	}
	
	#cart .cart-image {
		width: 30%;
		height: 40%;
		background-size: contain;
	}
	footer {
		clear: both;
	}
	section#promo .block img {
		width: 20%;
	}
	section#promo .block {  
		padding: 0 10px 0 0;
	}
	section#promo .block:last-child {
		padding: 0 0px 0 0;
	}
	section#promo .block .block-text h3 {
		font-size: 17px;
	}
	.map .block span {
		font-size: 15px;
	}
	.steps .step.current span {
		font-size: 20px;
	}
	.steps .step span {
		font-size: 16px;
	}
	header section#top {
		padding: 20px 0;
	}
	.table table td.actions div {
		margin-right: 3px;
	}
	#tabs a {
		padding: 10px 10px;
	}
	.order-preview {
		margin-left: 10px;
		width: 45%;
	}
	.order-preview .big-preview img {
		width: 100%;
	}
	.order-preview-final {
		float: right;
		width: 50%;
		margin-left: 0px;
		margin-top: 40px;
	}
	.order-preview-final .big-preview img {
		
	}
	.ordered-wrapper {
		margin-top: 20px;
	}
	.ordered {
		clear: both;
		margin-top: 15px;
	}
	.order-preview-final .big-preview img {
		width: 100%;
	}
	.stickers .block select {
		width: 80%;
		background-position: 93%;
	}
	.stickers .block .button {
		width: 80%;
		padding-left: 0;
		padding-right: 0;
	}
	.stickers .use-own .use-own-form, .cards .use-own .use-own-form {
		width: 100%;
	}
	.stickers .use-own .use-own-form input[type="text"], .cards .use-own .use-own-form input[type="text"] {
		width: 85%;
		min-width: 50%;	
	}
	.map .block {
		margin-right: 5%;
	}
	ul.tabs li.passive {
		padding: 10px;
	}
	ul.tabs li.active {
		padding: 17px 20px 10px 30px;
	}
	.editor-right {
		width: 55%;
	}
	
}
@media screen and (max-width: 850px) {
}